<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uc.contohbottomnav">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditNama"></activity>
        <activity
            android:name=".Spalsh"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DepositScanner" />
        <activity android:name=".WithdrawScanner" />
        <activity android:name=".RideScanner" />
        <activity android:name=".SelectAsset" />
        <activity android:name=".DetailPoints" />
        <activity android:name=".DetailAssets" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".About" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".InfoHow" />
        <activity android:name=".InfoAssets" />
        <activity android:name=".InfoPoint" />
    </application>

</manifest>